/*h1 {
            background-color: blue;
            color: white;
            text-align: center;
            border: 0cap;
            padding: 10px;
            margin: 10px;
 }*/

 /*p {
            background-color: lightgray;
            color: rgb(255, 255, 255);
            text-align: center;
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
 }*/

 /*body {
            font-family: Arial, sans-serif;
            background-color: #ff5050;
            margin: 0;
            padding: 0;
 }*/

 .h1-blue {
            background-color: blue;
            color: white;
            text-align: center;
            border: 0cap;
            padding: 10px;
            margin: 10px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: x-large;
            text-align: center;
            letter-spacing: 1em;
            text-decoration: underline,dashed;
            /*padding: 50px;*/
            /*padding-top: 50px;
            padding-bottom: 50px;
            padding-left: 100px;
            padding-right: 100px;*/
           /* padding: 50px 100px 20px 100px;*/
           
           pading: 50px;
           border: 5px solid black;
           border-radius: 10px;
           border-style: dashed;

           margin: 20px;
 }

 .h1-red {
            background-color: red;
            color: white;
            text-align: center;
            border: 0cap;
            padding: 10px;
            margin: 10px;
 }

 /*.p-bg-gray {
            background-color: lightgray;
            color: black;
            text-align: center;
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
 }

 .p-bg-blue {
            background-color: blue;
            color: white;
            text-align: center;
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
 }*/

 #pg-bg {
            background-color:aquamarine;
            color: black;
            text-align: center;
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            font-size: 40px;
 }

 *{
            padding: 0;
            margin: 0;
 }

 .pr{
            background-color: lightgray;
            color: black;
            text-align: center;
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            font-size: 40px;

 }

 #box01{    width: 50px;
            height: 50px;
            background-color: lightblue;
            border: 1px solid #ccc;
            position: sticky;
            top: 10px;
            bottom: 10px;
 }

 #box02{
            width: 100px;
            height: 100px;
            background-color: red;
            border: 1px solid #ccc;
 }